[submodule "Changing/vendor/spdlog"]
	path = Changing/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Changing/vendor/GLFW"]
	path = Changing/vendor/GLFW
	url = https://github.com/glfw/glfw
	branch = master
[submodule "Changing/vendor/imgui"]
	path = Changing/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Changing/vendor/glm"]
	path = Changing/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
