[submodule "Changing/vendor/spdlog"]
	path = Changing/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Changing/vendor/GLFW"]
	path = Changing/vendor/GLFW
	url = ../../glfw/glfw.git
	branch = master
[submodule "Changing/vendor/imgui"]
	path = Changing/vendor/imgui
	url = ../../ocornut/imgui.git
	branch = docking
[submodule "Changing/vendor/glm"]
	path = Changing/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Changing/vendor/yaml-cpp"]
	path = Changing/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
